<!DOCTYPE html>
<html lang="en">

<head>
       
    <meta charset="UTF-8">
       
    <link type="text/css" rel="stylesheet" href="/css/style.css">
        <title>cwiczenie 01</title>
</head>

<body>
    <ul class="menu">
        <li class="li"><a class="link" href="./upload">UPLOAD</a></li>
        <li class="li"><a class="link" href="/filemanager">FILEMANAGER</a></li>
       
    </ul>
        {{{body}}}

</body>

</html>