<div class="left">
    <h3>multiupload</h3>
</div>

<div class='right'>
 
 <form enctype="multipart/form-data" method="POST" action="/filemanager">
    
        <input type="file" multiple name="imageupload" class="button">
        <input type="submit" value="upload"> 
    </form>
</div>